.Description {
  font-weight: bold;
  font-size: 2.1vw;
  color: black;
  background: #fefffe;
  display: flex;
  height: 49.44vw;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 9.65%;
  width: 60%;
}
.image-container {
  height: 100%;
}
.description-heading,
.description-sub-heading {
  font-family: Rubik;
}
.description-heading {
  font-size: 3.33vw;
  font-weight: 500;
  margin: 0;
}
.underline {
  border-top: 0.14vw solid #476293;
  width: 13vw;
  height: 0px;
}
.description-sub-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.67vw;
  margin: 2.69vw 0vw 1.67vw;
  line-height: 1.9vw;
}
.desc-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  width: 48.33vw;
  line-height: 1.7vw;
  margin-bottom: 2rem;
}
.desc-illust {
  position: absolute;
  width: 30.4vw;
  /* height: 27.76vw; */
  right: 5.5vw;
  top: 8vw;
}

.btn-reg {
  line-height: 1.5;
  width: 30%;
  font-size: 1rem;
  border-radius: 3rem;
}

@media screen and (max-width: 1024px) {
  .Description {
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .btn-reg {
    line-height: 1.5;
    width: 41%;
    font-size: 2rem;
    border-radius: 3rem;
  }

  .description-container {
    margin-top: 55rem;
    margin-bottom: 5rem;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .underline {
    margin-top: 1rem;
    width: 70%;
    border-top: 0.5vw solid #476293;
  }
  .description-heading {
    font-size: 8vw;
  }
  .description-sub-heading {
    font-size: 5vw;
    line-height: normal;
  }
  .desc-description {
    font-size: 4vw;
    line-height: normal;
    width: 100%;
  }

  .desc-illust {
    top: 15vw;
    left: 10%;
    width: 70%;
    height: auto;
  }
}
