
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.fa-square-check{
    color: green;
}

.benefits{
	background-color: white;
	height:39.98vw; /*600px*/
	display: flex;
	padding: 30px;
	justify-content: space-between;
	color: black;
}
.benefits h1{
	font-family: 'Rubik', sans-serif;
	font-size: 3.3vw;
	margin-bottom: 5px;
}
.benefits-flex-cont{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: space-between;
}

.benefits-main-content {
	 width: 45.4%;
	 position: relative;
	 z-index:10;
	/* height:10.48vw;  */
}

.benefits-dot-1{
    position: absolute ;
	z-index: -1;
	top:20px;
	width:58.75%;
}
.benefits-content{
	position: absolute;
	left:16.77%;
	top:5.63vw;
}

.benefits p {
    line-height: 66px;
    font-size: 1.6vw;
    font-weight: 450;
}
.benefits-img{
	width: 30.37vw;
    position: absolute;
    right: 7.36vw;
    top: 3.47vw;
    z-index: 2;
}
.benefits-main-img{
	position: relative;
}
.benefits-dot-2{
	position: absolute;
	right:0;
	bottom:6.77vw; /*40px*/
	width:21vw;
	
}
.benefits hr{
	border: none;
	border-top:5px solid #EB5310 ;
	height:2px;
	width:67px;
	margin-bottom: 30px;
}
@media screen and (max-width:1024px) {
	.benefits-dot-1,.benefits-dot-2{
		display: none;
	}
	.benefits{
	   flex-direction: column;
	   justify-content: center;
	   align-items: center;
	   height: 139vw;

	}
	.benefits-main-content{
		position: static;
		padding-top: 6.041vw;
	}
	.benefits-main-img{
		position:static;
		margin-top: 60px;
		width:80%;
		text-align: center;
		margin-bottom: 70px;
	}
	.benefits-content{
		position: static;
	}
	.benefits p{
		font-size: 4.083vw;
	}
	.benefits h1{
		font-size:7.96vw;
	}
	.benefits-main-content{
		width:80%;
	}
	.benefits hr{
		width:22.69%;
		height:1.45vw;
	}
	.benefits-img{
		top:0;
		left:0;
		position: static;
		width:66.7vw;
	}
}