.cp_logo_div{
    height: auto;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 64%;
  }
  .cp_logo {
    width: 8.5vw;
    margin-top: 1vw;
    padding: 2%;
  }
  .inc{
    width: 12vw;
  }
  @media screen and (max-width: 1024px) {
    .cp_logo {
      width: 60%;
      margin: auto 20%;
      margin-bottom: 6rem;
    }
    .crop{
      border-radius: 50%;
    }
  }
  